 .main-nav {

 &__list {
        background: $color-white;
    }

    &__list-item {
        position: relative;
        display: inline-block;
        font-size: 0;
        margin-right: 0;
    }

    &__link {
        display: block;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 15px;
        padding-right: 15px;
        font-stretch: condensed;
        font-size: $font-size--base;
        text-transform: uppercase;
        color: $color-black;

        &:hover {
        background: $color-lilac;
        }

        &--submenu {
            color: $color-lilac;


        &:hover {
        color: $color-black;
        }
        }
    }

    &__submenu-one {
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }

    &__list > li:hover > ul {
        display: block;
        background: $color-white;
    }

    &__submenu-two {
        position: absolute;
        display: none;
    }

    &__list > li > ul > li {
        position: relative;
    }

    &__list > li > ul > li > ul {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    &__list > li > ul > li:hover > ul {
        display: block;
        background: $color-white;
    }

    &__list > li > ul > li:hover > ul a {
        width: 160px;
    }
}