.main-nav {

    &__list {
        background: $color-white;
        padding-left: 27px;
        padding-right: 29px;
    }

    &__list-item {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        font-size: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding-top: 18px;
        padding-bottom: 14px;
        font-stretch: condensed;
        font-size: $font-size--base;
        text-transform: uppercase;
        color: $color-black;

        &--submenu {
            color: $color-lilac;
        }
    }

    &__submenu-one {
        position: absolute;
        left: -21px;
        display: none;
        width: 189px;
    }

    &__list > li:hover > ul {
        display: block;
        background: $color-white;
        padding-left: 21px;
    }

    &__submenu-two {
        position: absolute;
        display: none;
        width: 189px;
    }

    &__list > li > ul > li {
        position: relative;
    }

    &__list > li > ul > li > ul {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    &__list > li > ul > li:hover > ul {
        display: block;
        background: $color-white;
        padding-left: 21px;
    }
}
